[Unit]
Description=Cup - Container Updates Checker

[Container]
ContainerName=cup
Image=ghcr.io/sergi0g/cup:latest
AutoUpdate=registry
Pull=newer

Exec=serve

Network=shared-network

Volume=${XDG_RUNTIME_DIR}/podman/podman.sock:/var/run/docker.sock:ro

# Traefik labels
Label="traefik.enable=true"
Label="traefik.http.routers.cup.rule=Host(`cup.${DOMAIN_URL}`)"
Label="traefik.http.routers.cup.entrypoints=web-secure,web-secure-internal"
Label="traefik.http.routers.cup.middlewares=pocket-id"

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Restart=always
TimeoutStartSec=60s
TimeoutStopSec=30s
