[Unit]
Description=Tesseract - Lemmy frontend

[Container]
ContainerName=tesseract
Image=ghcr.io/asimons04/tesseract:latest
AutoUpdate=registry
Pull=newer

EnvironmentFile=.env

Network=shared-network

Volume=tesseract-cache:/app/cache

# Traefik labels
Label="traefik.enable=true"
Label="traefik.http.routers.tesseract.rule=Host(`tesseract.${DOMAIN_URL}`)"
Label="traefik.http.routers.tesseract.entrypoints=web-secure,web-secure-internal"

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Restart=always
