[Unit]
Description=SilverBullet - Markdown Note-taking

[Container]
# Base options
AutoUpdate=registry
ContainerName=silverbullet
Image=ghcr.io/silverbulletmd/silverbullet:2.4.1
Pull=newer

# Label options
Label="glance.description=Markdown Note-taking"
Label="glance.icon=https://cdn.jsdelivr.net/gh/selfhst/icons/webp/silverbullet.webp"
Label="glance.id=silverbullet"
Label="glance.name=SilverBullet"
Label="glance.url=https://sb.${DOMAIN_URL}"
Label="traefik.enable=true"
Label="traefik.http.routers.silverbullet.entrypoints=web-secure,web-secure-internal"
Label="traefik.http.routers.silverbullet.rule=Host(`sb.${DOMAIN_URL}`)"
Label="traefik.http.services.silverbullet.loadbalancer.server.port=3000"

# Storage options
Volume=%h/container-data/silverbullet/:/space

# Network options
Network=shared-network

# Environment options
EnvironmentFile=.env

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target default.target

