[Unit]
Description=SilverBullet - Markdown Note-taking

[Install]
WantedBy=multi-user.target default.target

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Container]
ContainerName=silverbullet
Image=ghcr.io/silverbulletmd/silverbullet:latest
AutoUpdate=registry
Pull=newer

# Volumes
Volume=%h/container-data/silverbullet/:/space

# Network
Network=shared-network

# Environment variables
EnvironmentFile=.env

# Traefik labels
Label="traefik.enable=true"
Label="traefik.http.services.silverbullet.loadbalancer.server.port=3000"
Label="traefik.http.routers.silverbullet.rule=Host(`sb.${DOMAIN_URL}`)"
Label="traefik.http.routers.silverbullet.entrypoints=web-secure,web-secure-internal"

# Glance Dashboard Labels
Label="glance.name=SilverBullet"
Label="glance.icon=https://cdn.jsdelivr.net/gh/selfhst/icons/webp/silverbullet.webp"
Label="glance.url=https://sb.${DOMAIN_URL}"
Label="glance.description=Markdown Note-taking"
Label="glance.id=silverbullet"

# Tinyauth
# Label="tinyauth.apps.sb.path.allow=^(\\/\\.client\\/manifest\\.json|\\/\\.client\\/[a-zA-Z0-9_-]+\\.png|\\/service_worker\\.js)$"
