[Unit]
Description=Code Server - Remote VS Code

[Container]
# Base options
AutoUpdate=registry
ContainerName=code-server
Image=lscr.io/linuxserver/code-server:latest
Pull=newer

# Label options
Label="glance.description=Remote Dev Environment"
Label="glance.icon=si:coder"
Label="glance.id=code-server"
Label="glance.name=Remote Code"
Label="glance.url=https://code.${DOMAIN_URL}"
Label="traefik.enable=true"
Label="traefik.http.routers.code-server.entrypoints=web-secure,web-secure-internal"
Label="traefik.http.routers.code-server.middlewares=tinyauth"
Label="traefik.http.routers.code-server.rule=Host(`code.${DOMAIN_URL}`)"

# Storage options
Volume=%h/container-data/code-server/config/.ssh:/root/.ssh/:ro
Volume=%h/container-data/code-server/config:/config
Volume=%h:%h

# Network options
Network=shared-network

# Environment options
EnvironmentFile=.env

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target default.target

