[Unit]
Description=Code Server - Remote VS Code
After=traefik.service

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target default.target

[Container]
# Container properties
ContainerName=code-server
Image=lscr.io/linuxserver/code-server:latest
AutoUpdate=registry
Pull=newer

# Environment options
EnvironmentFile=.env

# Network options
Network=shared-network

# Volume binds
Volume=%h/container-data/code-server/config/.ssh:/root/.ssh/:ro
Volume=%h/container-data/code-server/config:/config
Volume=%h:%h

# Traefik Labels
Label="traefik.enable=true"
Label="traefik.http.routers.code-server.rule=Host(`code.${DOMAIN_URL}`)"
Label="traefik.http.routers.code-server.entrypoints=web-secure,web-secure-internal"
Label="traefik.http.routers.code-server.middlewares=tinyauth"

# Glance Labels
Label="glance.name=Remote Code"
Label="glance.icon=si:coder"
Label="glance.url=https://code.${DOMAIN_URL}"
Label="glance.description=Remote Dev Environment"
Label="glance.id=code-server"
