[Unit]
Description=Pocket ID - OIDC Auth

[Install]
WantedBy=multi-user.target default.target

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
EnvironmentFile=%h/.config/containers/systemd/pocket-id/.env
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Container]
ContainerName=pocket-id
Image=ghcr.io/pocket-id/pocket-id
AutoUpdate=registry
Pull=newer

# Volumes
Volume=%h/container-data/pocket-id:/app/data

# Environment variables
EnvironmentFile=.env

HealthCmd=["/app/pocket-id","healthcheck"]
HealthInterval=1m30s
HealthRetries=2
HealthStartPeriod=10s
HealthTimeout=5s

UserNS=keep-id
Network=shared-network

# Traefik labels
Label="traefik.enable=true"
Label="traefik.http.routers.pocket-id.rule=Host(`id.${DOMAIN_URL}`)"
Label="traefik.http.routers.pocket-id.entrypoints=web-secure,web-secure-internal"
Label="traefik.http.services.pocket-id.loadbalancer.server.port=5000"

# Define the middleware here
Label="traefik.http.middlewares.pocket-id.plugin.traefik-oidc-auth.Secret=${OIDC_MIDDLEWARE_SECRET}"
Label="traefik.http.middlewares.pocket-id.plugin.traefik-oidc-auth.Provider.Url=https://id.${DOMAIN_URL}"
Label="traefik.http.middlewares.pocket-id.plugin.traefik-oidc-auth.Provider.ClientId=${OIDC_CLIENT_ID}"
Label="traefik.http.middlewares.pocket-id.plugin.traefik-oidc-auth.Provider.ClientSecret=${OIDC_CLIENT_SECRET}"
Label="traefik.http.middlewares.pocket-id.plugin.traefik-oidc-auth.Scopes=openid,profile,email"
