[Unit]
Description=Pocket ID - OIDC Auth

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
EnvironmentFile=%h/.config/containers/systemd/pocket-id/.env
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target default.target

[Container]
# Container properties
ContainerName=pocket-id
Image=ghcr.io/pocket-id/pocket-id:v2.3.0
AutoUpdate=registry
Pull=newer
HealthCmd=["/app/pocket-id","healthcheck"]
HealthInterval=1m30s
HealthRetries=2
HealthStartPeriod=10s
HealthTimeout=5s

# Environment options
EnvironmentFile=.env

# User options
UserNS=keep-id

# Network options
Network=shared-network

# Volume binds
Volume=%h/container-data/pocket-id:/app/data

# Traefik Labels
Label="traefik.enable=true"
Label="traefik.http.routers.pocket-id.rule=Host(`id.${DOMAIN_URL}`)"
Label="traefik.http.routers.pocket-id.entrypoints=web-secure,web-secure-internal"
Label="traefik.http.services.pocket-id.loadbalancer.server.port=1411"

# Glance Labels
Label="glance.name=Pocket ID"
Label="glance.icon=auto-invert sh:pocket-id-dark"
Label="glance.url=https://id.${DOMAIN_URL}"
Label="glance.description=OIDC Auth"
Label="glance.id=pocket-id"
