# Ignore all .env files, which contain secrets.
**/.env
**/container-data/
**/container-config/
**/container-logs/
**/container-secrets/

# GitOps trigger directories
gitops/triggers/*
!gitops/triggers/.gitkeep

# GitOps logs
gitops/logs/*
!gitops/logs/.gitkeep

# Web hook trigger files
**/trigger
