# Ignore all .env files, which contain secrets.
**/.env
**/container-data/
**/container-config/
**/container-logs/

gitops/triggers/*
!gitops/triggers/.gitkeep

gitops/logs/*
!gitops/logs/.gitkeep

# Web hook trigger files
**/trigger
