[Unit]
Description=Beaver - Habits tracker

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target default.target

[Container]
ContainerName=beaver
Image=docker.io/daya0576/beaverhabits:latest
AutoUpdate=registry
Pull=newer

EnvironmentFile=.env

UserNS=keep-id:uid=%U,gid=%G

Network=shared-network

Volume=./container-data/beaver:/app/.user/

# Traefik labels
Label="traefik.enable=true"
Label="traefik.http.routers.beaver.rule=Host(`habits.${DOMAIN_URL}`)"
Label="traefik.http.routers.beaver.entrypoints=web-secure,web-secure-internal"
Label="traefik.http.routers.beaver.middlewares=pocket-id"
