[Unit]
Description=Actual Budget - Personal Finance Manager

[Container]
# Base options
AutoUpdate=registry
ContainerName=actual
Image=ghcr.io/actualbudget/actual:25.12.0
Pull=newer

# Label options
Label="glance.description=Envelope Budgeting"
Label="glance.icon=si:actualbudget"
Label="glance.id=actual"
Label="glance.name=Actual Budget"
Label="glance.url=https://actual.${DOMAIN_URL}"
Label="traefik.enable=true"
Label="traefik.http.routers.actual.entrypoints=web-secure,web-secure-internal"
Label="traefik.http.routers.actual.rule=Host(`actual.${DOMAIN_URL}`)"

# Storage options
Volume=%h/container-data/actual:/data:Z

# Network options
Network=shared-network

# Environment options
EnvironmentFile=.env

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target default.target

