[Unit]
Description=Redlib - Reddit frontend

[Install]
WantedBy=multi-user.target default.target

[Container]
ContainerName=redlib
Image=quay.io/redlib/redlib:latest
AutoUpdate=registry

EnvironmentFile=.env

Network=shared-network

; PublishPort=8080:8080

; Health checks
HealthCmd=["wget","--spider","-q","--tries=1","http://localhost:8080/settings"]
HealthInterval=5m
HealthTimeout=3s

; Security measures
NoNewPrivileges=true
ReadOnly=true
DropCapability=ALL
User=nobody

# Traefik labels
Label="traefik.enable=true"
Label="traefik.http.routers.redlib.rule=Host(`red.${DOMAIN_URL}`)"
Label="traefik.http.routers.redlib.entrypoints=web-secure,web-secure-internal"

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Restart=always
TimeoutStartSec=60s
TimeoutStopSec=30s
