[Unit]
Description=Immich Redis - Cache service

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target default.target

[Container]
# Container properties
ContainerName=immich-redis
Image=ghcr.io/valkey-io/valkey:9.0.3
AutoUpdate=registry
Pull=newer

# Network options
Network=immich.network

# Health check
HealthCmd=redis-cli ping || exit 1
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3
Notify=healthy

# Glance Labels
Label="glance.parent=immich"
Label="glance.name=Redis"
