TINYAUTH_APPURL=

# Configuring Pocket ID
TINYAUTH_OAUTH_PROVIDERS_POCKETID_NAME=
TINYAUTH_OAUTH_PROVIDERS_POCKETID_SCOPES=
TINYAUTH_OAUTH_PROVIDERS_POCKETID_AUTHURL=
TINYAUTH_OAUTH_PROVIDERS_POCKETID_TOKENURL=
TINYAUTH_OAUTH_PROVIDERS_POCKETID_USERINFOURL=
TINYAUTH_OAUTH_PROVIDERS_POCKETID_CLIENTID=
TINYAUTH_OAUTH_PROVIDERS_POCKETID_CLIENTSECRET=

# Auto-redirect for convenience
TINYAUTH_OAUTH_AUTOREDIRECT=

# Meaningless security
TINYAUTH_AUTH_SECURECOOKIE=

# Slightly longer sessions
TINYAUTH_AUTH_SESSIONEXPIRY=
