[Unit]
Description=TinyAuth - Lightweight Authentication Service

[Container]
ContainerName=tinyauth
Image=ghcr.io/steveiliop56/tinyauth:v3
AutoUpdate=registry
Pull=newer

# Network
Network=shared-network

# Environment variables
EnvironmentFile=.env

# Traefik labels
Label="traefik.enable=true"
Label="traefik.http.routers.tinyauth.rule=Host(`auth.${DOMAIN_URL}`)"
Label="traefik.http.routers.tinyauth.entrypoints=web-secure,web-secure-internal"
Label="traefik.http.middlewares.tinyauth.forwardauth.address=http://tinyauth:3000/api/auth/traefik"

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target default.target
