[Unit]
Description=Webhook Listener
After=network-online.target

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target default.target

[Container]
# Container properties
ContainerName=webhook
Image=docker.io/almir/webhook:2.8.3
Entrypoint=/bin/sh
Exec=-c "sed 's/{{WEBHOOK_SECRET}}/'"$WEBHOOK_SECRET"'/' \
  /etc/webhook/hooks.tmpl > /etc/webhook/hooks.json && cat \
  /etc/webhook/hooks.json && /usr/local/bin/webhook -verbose \
  -hooks=/etc/webhook/hooks.json -hotreload"
PodmanArgs=--tmpfs /etc/webhook:rw,size=64k,mode=1777

# Environment options
EnvironmentFile=.env

# User options
User=0

# Network options
Network=shared-network

# Volume binds
Volume=./hooks.json.tmpl:/etc/webhook/hooks.tmpl:ro
Volume=./triggers:/triggers:Z

# Traefik Labels
Label="traefik.enable=true"
Label="traefik.http.routers.git-hook.rule=Host(`git-hook.${DOMAIN_URL}`)"
Label="traefik.http.routers.git-hook.entrypoints=web-secure,web-secure-internal"
Label="traefik.http.services.git-hook.loadbalancer.server.port=9000"

# Glance Labels
Label="glance.name=Webhook"
Label="glance.icon=auto-invert sh:adnanh-webhook-dark"
Label="glance.url=https://git-hook.${DOMAIN_URL}"
Label="glance.description=GitOps Webhooks"
Label="glance.id=webhook"
