[Unit]
Description=Collabora - Office Suite

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target default.target

[Container]
ContainerName=collabora
Image=docker.io/collabora/code:latest
AutoUpdate=registry
Pull=newer

EnvironmentFile=.env

Network=shared-network

# Traefik labels
Label="traefik.enable=true"
Label="traefik.http.routers.collabora.rule=Host(`office.${DOMAIN_URL}`)"
Label="traefik.http.routers.collabora.entrypoints=web-secure,web-secure-internal"

# Glance Dashboard Labels
Label="glance.name=Collabora"
Label="glance.icon=si:collaboraonline"
Label="glance.url=https://office.${DOMAIN_URL}"
Label="glance.description=Office for Nextcloud"
Label="glance.id=collabora"
