[Unit]
Description=Papra - Document Archiving Platform
After=pocket-id.service

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target default.target

[Container]
# Container properties
ContainerName=papra
Image=ghcr.io/papra-hq/papra:26.2.1-rootless
AutoUpdate=registry
Pull=newer

# Environment options
EnvironmentFile=.env

# User options
User=0:0

# Network options
Network=shared-network

# Volume binds
Volume=%h/container-data/papra:/app/app-data

# Traefik Labels
Label="traefik.enable=true"
Label="traefik.http.routers.papra.rule=Host(`papra.${DOMAIN_URL}`)"
Label="traefik.http.routers.papra.entrypoints=web-secure,web-secure-internal"

# Glance Labels
Label="glance.name=Papra"
Label="glance.icon=auto-invert sh:papra-dark"
Label="glance.url=https://papra.${DOMAIN_URL}"
Label="glance.description=Document Archiving"
Label="glance.id=papra"
