[Unit]
Description=Photon - Lemmy frontend

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target default.target

[Container]
# Container properties
ContainerName=photon
Image=ghcr.io/xyphyn/photon:v2.2.2
AutoUpdate=registry
Pull=newer

# Network options
Network=shared-network

# Traefik Labels
Label="traefik.enable=true"
Label="traefik.http.routers.photon.rule=Host(`photon.${DOMAIN_URL}`)"
Label="traefik.http.routers.photon.entrypoints=web-secure,web-secure-internal"

# Glance Labels
Label="glance.name=Photon"
Label="glance.icon=auto-invert https://raw.githubusercontent.com/Xyphyn/photon/refs/heads/main/static/img/logo-isolated-dynamic.svg"
Label="glance.url=https://photon.${DOMAIN_URL}"
Label="glance.description=Lemmy Frontend"
Label="glance.id=photon"
