[Unit]
Description=Beszel - Server Monitoring Agent

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target default.target

[Container]
# Container properties
ContainerName=beszel-agent
Image=ghcr.io/henrygd/beszel/beszel-agent:0.18.1-alpine
AutoUpdate=registry
Pull=newer

# Environment options
Environment=DOCKER_HOST=unix://%t/podman/podman.sock
EnvironmentFile=.env

# User options
Group=1001
User=1001
UserNS=keep-id

# Network options
Network=host

# Volume binds
Volume=%h/container-data/beszel-agent:/var/lib/beszel-agent
Volume=%t/podman/podman.sock:%t/podman/podman.sock:ro

# Glance Labels
Label="glance.description=Monitoring Agent"
Label="glance.icon=auto-invert sh:beszel-dark"
Label="glance.id=beszel"
Label="glance.name=Beszel"
Label="glance.url=https://stats.${DOMAIN_URL}"
