[Unit]
Description=Beszel - Server Monitoring Agent

[Container]
ContainerName=beszel-agent
Image=ghcr.io/henrygd/beszel/beszel-agent:latest
AutoUpdate=registry
Pull=newer

EnvironmentFile=.env

Network=host

Volume=${XDG_RUNTIME_DIR}/podman/podman.sock:/var/run/docker.sock:ro

[Service]
Restart=always
TimeoutStartSec=60s
TimeoutStopSec=30s
