[Unit]
Description=Beszel - Server Monitoring Agent

[Service]
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target default.target

[Container]
ContainerName=beszel-agent
Image=ghcr.io/henrygd/beszel/beszel-agent:latest
AutoUpdate=registry
Pull=newer

EnvironmentFile=.env
Environment=DOCKER_HOST=unix://%t/podman/podman.sock

Network=host

Volume=%h/container-data/beszel-agent:/var/lib/beszel-agent
Volume=%t/podman/podman.sock:%t/podman/podman.sock:ro
