[Unit]
Description=Renovate Bot
After=network-online.target

[Service]
Type=oneshot
TimeoutStartSec=10m
EnvironmentFile=%h/.config/containers/systemd/.env

[Container]
# Container properties
Image=ghcr.io/renovatebot/renovate:43.0

# Environment options
Environment=LOG_LEVEL=info
Environment=RENOVATE_AUTODISCOVER=true
Environment=RENOVATE_ENDPOINT=https://git.${DOMAIN_URL}/api/v1
Environment=RENOVATE_PLATFORM=forgejo
EnvironmentFile=.env

# Volume binds
Volume=%h/container-data/renovate:/tmp/renovate
