[Unit]
Description=Renovate Bot
After=network-online.target

[Container]
# Base options
Image=ghcr.io/renovatebot/renovate:42.80

# Storage options
Volume=%h/container-data/renovate:/tmp/renovate

# Environment options
Environment=LOG_LEVEL=info
Environment=RENOVATE_AUTODISCOVER=true
Environment=RENOVATE_ENDPOINT=https://git.${DOMAIN_URL}/api/v1
Environment=RENOVATE_PLATFORM=forgejo
EnvironmentFile=.env

[Service]
Type=oneshot
TimeoutStartSec=10m
EnvironmentFile=%h/.config/containers/systemd/.env

[Install]
WantedBy=default.target

