[Unit]
Description=Glance - My Homepage

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target default.target

[Container]
# Container properties
ContainerName=glance
Image=docker.io/glanceapp/glance:v0.8.4
AutoUpdate=registry
Pull=newer

# Environment options
EnvironmentFile=.env

# Network options
Network=shared-network

# Volume binds
Volume=./container-config/config:/app/config:Z
Volume=./container-config/assets:/app/assets:Z
Volume=/etc/localtime:/etc/localtime:ro
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro

# Traefik Labels
Label="traefik.enable=true"
Label="traefik.http.routers.glance.rule=Host(`home.${DOMAIN_URL}`)"
Label="traefik.http.routers.glance.entrypoints=web-secure,web-secure-internal"

# FIXME: Not sure if I should enable tinyauth for my homepage...
# Label="traefik.http.routers.glance.middlewares=tinyauth"

# Glance Labels
Label="glance.name=Glance"
Label="glance.icon=auto-invert sh:glance-dark"
Label="glance.url=https://home.${DOMAIN_URL}"
Label="glance.description=Dashboard & Homepage"
Label="glance.id=glance"
