[Unit]
Description=Tandoor - Recipe Manager
Requires=tandoor-db.service
After=tandoor-db.service
Requires=tandoor-network.service
After=tandoor-network.service
After=pocket-id.service

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target default.target

[Container]
# Container properties
ContainerName=tandoor
Image=ghcr.io/tandoorrecipes/recipes:2.3.6
AutoUpdate=registry
Pull=newer

# Environment options
EnvironmentFile=.env

# Network options
Network=shared-network
Network=tandoor.network

# Volume binds
Volume=%h/container-data/tandoor/mediafiles:/opt/recipes/mediafiles
Volume=%h/container-data/tandoor/staticfiles:/opt/recipes/staticfiles

# Traefik Labels
Label="traefik.enable=true"
Label="traefik.http.routers.recipes.rule=Host(`recipes.${DOMAIN_URL}`)"
Label="traefik.http.routers.recipes.entrypoints=web-secure,web-secure-internal"
Label="traefik.http.routers.recipes.middlewares=redirect_tandoor_login"
Label="traefik.http.middlewares.redirect_tandoor_login.redirectregex.regex=/accounts/login(?:/.*[?&]next=([^&]*))?.*$$"
Label="traefik.http.middlewares.redirect_tandoor_login.redirectregex.replacement=/accounts/oidc/pocket-id/login/?process=login&next=$${1}"
Label="traefik.http.middlewares.redirect_tandoor_login.redirectregex.permanent=false"

# Glance Labels
Label="glance.name=Tandoor"
Label="glance.icon=auto-invert sh:tandoor-recipes-dark"
Label="glance.url=https://recipes.${DOMAIN_URL}"
Label="glance.description=Recipes Manager"
Label="glance.id=tandoor"
