[Unit]
Description=Tandoor DB - Postgres instance for Tandoor

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
EnvironmentFile=%h/.config/containers/systemd/tandoor/.env
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target default.target

[Container]
# Container properties
ContainerName=tandoor-db
Image=docker.io/library/postgres:18.3
AutoUpdate=registry
Pull=newer

# Environment options
EnvironmentFile=.env

# User options
UserNS=keep-id:uid=999,gid=999

# Network options
Network=tandoor.network

# Volume binds
Volume=%h/container-data/tandoor-db:/var/lib/postgresql

# Health check
HealthCmd=/usr/bin/pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3
Notify=healthy

# Glance Labels
Label="glance.parent=tandoor"
Label="glance.name=DB"
